.game-board {
    display: inline-block;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    cursor: pointer;
  }
  
  .cell.empty {
    background-color: lightblue;
  }
  
  .cell.ship {
    background-color: #888;
  }
  
  .cell.hit {
    background-color: red;
  }
  
  .cell.miss {
    background-color: white;
  }
  